<!DOCTYPE html>
<html>

<head>
  <title>CatchUpTo.Me</title>
  <!-- BULMA -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- end BULMA -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <!-- how do I include another layout? ... also there's a rails-y way to make image tags -->
    <div class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/logo.jpg">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <% if acting_islander %>
          <a class="navbar-item" href="/invite">Invite</a>
          <% end %>
        </div>
        <div class="navbar-end">
          <% if acting_islander %>
          <div class="navbar-item">
            Admin-slider
            <span class="nav-who">You are <%= acting_islander.email %></span>
          </div>
          <a class="navbar-item" href="/logout">Log out</a>
          <% else %>
          <a class="navbar-item" href=<%= auth_url %>>Log in</a>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>