<!DOCTYPE html>
<html>

<head>
  <title>Sixmilebridge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <!-- how do I include another layout? ... also there's a rails-y way to make image tags -->
    <div class="logo"><a href="/"><img class="logo" src="images/logo.jpg"></a></div>
    <div class="nav-links">You</div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>