<!DOCTYPE html>
<html>

<head>
  <title>CatchUpTo.Me</title>
  <!-- BULMA -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="styles/debug.css">
  <!-- end BULMA -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <!-- how do I include another layout? ... also there's a rails-y way to make image tags -->
    <div class="logo"><a href="/">
        <img class="is-128x128" src="images/logo.jpg">
      </a></div>
    <div class="nav-links">
      <% if acting_islander %>
      <span class="nav-link">
        <a href="/logout">Log out</a>
        <span class="nav-link">
          <a href="/invite">Invite</a>
        </span>
        <span class="nav-who">You are <%= acting_islander.email %></span>
        <% else %>
        <a href=<%= auth_url %>>Log in</a>
        <% end %>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>